<div class="wrapper">
    <div class="row">
        <div class="image-section">
            <img src="../../../assets/satya.jpg" alt="My Image">
        </div>
        <div class="content">
            <h1>About Me</h1>
            <h2>S-Mart</h2>
            <p>Full Stack Python Developer, with knowledge in Python, RestAPI and Django web development and design, I offer the best projects resulting in quality work.</p>
            <p>My Skills Are: HTML, CSS, JavaScript, Angular, Git & GitHub, Bootstrap, Python, Django & RestAPI.</p>
            <div class="buttons">
                <a href="https://satya-portfolio-web.netlify.app" target="_blank">Read More</a>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/satyabrata.panda.3956690?mibextid=ZbWKwL" target="_blank" style="--social-clr: #1877f2;"><i class="fab fa-facebook-f"></i></a>
                <a href="https://x.com/__satyabrata__" target="_blank" style="--social-clr: #000000;"><i class="fab fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/satya.brata_panda?igsh=MTNuNHBuMXg4MTUyOQ==" target="_blank" style="--social-clr: #c32aa3;"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCRwqXSEz4xspk1B1z592-fA" target="_blank" style="--social-clr: #ff0000;"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    
</div>
